@model MeetUp.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="panel panel-default col-lg-8 col-lg-offset-2">
        <div class="panel-heading">@ViewBag.Title</div>
        <div class="panel-body">
            @using (Html.BeginForm(new {ReturnUrl = ViewBag.ReturnUrl}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.UserName, null, new {@class = "help-block"})
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                    @Html.ValidationMessageFor(m => m.Password, null, new {@class = "help-block"})
                </div>

                <div class="checkbox">
                    <label>
                        Remember Me @Html.CheckBoxFor(m => m.RememberMe)
                    </label>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"> </i> Log in</button>
            }
            <p>
                or login with
            </p>
            @Html.Action("ExternalLoginsList", new {ReturnUrl = ViewBag.ReturnUrl})
            
            <p>
                @Html.ActionLink("Register", "Register") if you don't have an account.
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}