<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - @ConfigServices.GroupSiteName</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
       @* @Scripts.Render("~/bundles/jquery")*@
    </head>
    <body>
        @Html.Partial("_LayoutHeader", ViewBag.Menu == null? "": (string)ViewBag.Menu)
        
        <div class="container">
            <div class="col-md-10">
                @RenderBody()
            </div>
            <div class="col-md-2">
               
                <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-user"> </i> Latest Members </div>
                <div class="panel-body">
                        latest member profiles                    
                </div>
                </div>   

                <div class="panel panel-primary">
                <div class="panel-heading"><i class="fa fa-users"> </i>Latest RSVPs </div>
                <div class="panel-body">
                        latest rsvp member profiles                    
                </div>
                </div>                   
            </div>
        </div>
        
        @RenderSection("scripts", required: false)
    </body>
</html>